body{
    background-color: white;
    height: auto;
    width: auto;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container {
    background-color: white ;
    border-radius: 15px;
    padding: 0.25% 2.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    margin: 1.5% 5%;
    display: flex;
    align-items: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.question {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    max-width: 75%;
}

.options label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.473);
    border-radius: 5px;
    padding: 0.5px;
}

.options label:hover{
    background-color: #D5AAFC;
}

img {
    height: 18%;
    width: 18%;
    min-width: 180px;
    min-height: 180px;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #D5AAFC;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

button:hover {
    background-color: #981BFF;
}
