body{
    background-color: #FFFACD;
    height: auto;
    width: auto;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 40px;
    color: #000080
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container {
    background-color: #112C57;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 1% 2.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    margin: 1.5% 5%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.question {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    max-width: 75%;
    color: white;
}

.options label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #010156;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.473);
    border-radius: 5px;
    padding: 0.5px;
    display: block;
    justify-content: baseline;
}

.options label:hover{
    background-color: rgb(129, 124, 29);
}

img {
    height: 18%;
    width: 18%;
    min-width: 180px;
    min-height: 180px;
}

.Questao-Grande {
    height: 22%;
    width: 22%;
    min-width: 220px;
    min-height: 220px;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;
    background-color: #112C57;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

button:hover {
    background-color: rgb(129, 124, 29);
}

.result-message {
    background-color: #112C57;
    color: white;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 1% 2.5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    margin: 1.5% 5%;
}
